body
{
  display : flex;
  justify-content : center;
  align-items: center;
  height: 100vh;
}

.container
{
  display: inline-flex;
  flex-direction: row;
}

.columns
{
  display: inline-flex;
  flex-direction: column;
}

.cells
{
  border: 1px solid black;
  height:  27.5px;
  width:  27.5px;
}